.chart {
    border: 5px solid var(--secondary);
    border-radius: 12px;
    background-color: var(--bg-light);
    aspect-ratio: 1.5;
}


.chart h4 {
    font-size: 24px;
}

.chart h4 span {
    font-size: 28px;
    font-weight: bold;
}

.chart p {
    font-size: 16px;
}

.chart p span {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .chart h4 {
        font-size: 20px;
    }

    .chart h4 span {
        font-size: 24px;
    }

    .chart p {
        font-size: 14px;
    }

    .chart p span {
        font-size: 16px;
    }

    .chart .graphContainer {
        max-width: 100% !important;
        height: 120px !important;
        margin-top: 16px;
    }
}

@media (min-width: 1200px) {
    .chart {
        max-width: 556px;
        margin-inline: auto;

    }

    #dashboard>div {
        max-width: 1400px;
        margin-inline: auto;
    }
}