.chart {
    border: 5px solid var(--secondary);
    border-radius: 12px;
    background-color: var(--bg-light);
    aspect-ratio: 1.5;
}


.chart h4 {
    font-size: 24px;
}

.chart h4 span {
    font-size: 28px;
    font-weight: bold;
}

.chart p {
    font-size: 16px;
}

.chart p span {
    font-size: 18px;
    font-weight: bold;
}

.chart .totalCountContainer{
    top: 0;
    left:0;
}

.chart .pacientesCountContainer{
    bottom: 0;
    width: fit-content;
    height: fit-content;
}


@media (max-width: 768px) {
    .chart h4 {
        font-size: 20px;
    }

    .chart h4 span {
        font-size: 24px;
    }

    .chart p {
        font-size: 14px;
    }

    .chart p span {
        font-size: 16px;
    }

    .chart .pacientesCountContainer{
        top: 0;
        right: 0;
    }

    .chart .graphContainer{
        width: 80%;
    }
    
    .chart .graphContainer{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1200px) {
    .chart {
        max-width: 556px;
        margin-inline: auto;

    }

    #dashboard>div {
        max-width: 1400px;
        margin-inline: auto;
    }
}