
#configuracoesContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
}

#configuracoes .configAtendimento .formHorario .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
    margin-right: 24px;
    gap: 8px;
  }

#configuracoes .formHorario label {
  font-size: 20px !important;
  color: var(--txt-light) !important;

}

#configuracoes .formHorario input {
  border: 2px solid var(--secondary) !important;
  border-radius: 12px !important;
  padding: 12px   !important;
}

#configuracoes .formEspecialidades,
#configuracoes .formProcedimentos {
  border: 2px solid var(--secondary) !important;
  border-radius: 12px !important;
  padding: 12px !important;
  gap: 12px !important;
}

#configuracoes .formEspecialidades .containerBusca,
#configuracoes .formProcedimentos .containerBusca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

#configuracoes .formEspecialidades .containerBusca input,
#configuracoes .formProcedimentos .containerBusca input {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid var(--bg-dark);
  border-radius: 0px;
}

#configuracoes .formEspecialidades .containerBusca input:focus,
#configuracoes .formProcedimentos .containerBusca input:focus {
  outline: none  ;
  border-bottom: 2px solid var(--primary);
}

#configuracoes .formEspecialidades .containerBusca .btn-primary,
#configuracoes .formProcedimentos .containerBusca .btn-primary {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 6px;
}

#configuracoes .formEspecialidades .form-check,
#configuracoes .formProcedimentos .form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  max-height: 300px;
  overflow-y: auto;
}

.form-check-input {
  border: 2px solid var(--primary) !important;
  transition: background-color 0.2s, border-color 0.2s !important;
  cursor: pointer !important;
  border-radius: 0.25rem !important;
}

.form-check-input:checked {
  background-color: var(--bg-dark);
  border-color: var(--bg-dark);
  border-color: #0d47a1;


  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%236e9fd8' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}


.form-check-input:focus {
  border-color: #0d47a1;

  box-shadow: 0 0 0 0.2rem rgba(13, 71, 161, 0.25);
}

.form-check-label {
  font-size: 16px !important;
  color: var(--txt-light) !important;
  cursor: pointer !important;
}

#configProcedimentos .form-check {
  display: flex;
  flex-direction: column;
}



@media(max-width: 576px) {
  #configuracoes .configAtendimento .formHorario .container {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    margin-right: 24px;
    gap: 8px;
  }

  #configuracoes .configAtendimento .formHorario input {
    padding: 12px;
    width: 80px;
  }

  #configuracoes .formHorario label {
    font-size: 16px;
  }
}