
#configuracoesContainer {
  display: flex !important;
  flex-direction: column !important;
  gap: 24px !important;
  padding: 24px !important;
  width: 100% !important;
}

#configuracoes .configAtendimento .formHorario .container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 12px 0 !important;
    margin-right: 24px !important;
    gap: 8px !important;
  }

#configuracoes .formHorario label {
  font-size: 20px !important;
  color: var(--txt-light) !important;

}

#configuracoes .formHorario input {
  border: 2px solid var(--secondary) !important;
  border-radius: 12px !important;
  padding: 12px   !important;
}

#configuracoes .formEspecialidades,
#configuracoes .formProcedimentos {
  border: 2px solid var(--secondary) !important;
  border-radius: 12px !important;
  padding: 12px !important;
  gap: 12px !important;
}

#configuracoes .formEspecialidades .containerBusca,
#configuracoes .formProcedimentos .containerBusca {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

#configuracoes .formEspecialidades .containerBusca input,
#configuracoes .formProcedimentos .containerBusca input {
  width: 100% !important;
  max-width: 400px !important;
  padding: 8px !important;
  border: none !important;
  border-bottom: 1px solid var(--bg-dark) !important;
  border-radius: 0px !important;
}

#configuracoes .formEspecialidades .containerBusca input:focus,
#configuracoes .formProcedimentos .containerBusca input:focus {
  outline: none   !important;
  border-bottom: 2px solid var(--primary) !important;
}

#configuracoes .formEspecialidades .containerBusca .btn-primary,
#configuracoes .formProcedimentos .containerBusca .btn-primary {
  display: flex !important;
  padding: 4px 12px !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 12px !important;
  gap: 6px !important;
}

#configuracoes .formEspecialidades .form-check,
#configuracoes .formProcedimentos .form-check {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 8px !important;
  max-height: 300px !important;
  overflow-y: auto !important;
}

.form-check-input {
  border: 2px solid var(--primary) !important;
  transition: background-color 0.2s, border-color 0.2s !important;
  cursor: pointer !important;
  border-radius: 0.25rem !important;
}

.form-check-input:checked {
  background-color: var(--bg-dark) !important;
  border-color: var(--bg-dark) !important;
  border-color: #0d47a1 !important;


  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%236e9fd8' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
}


.form-check-input:focus {
  border-color: #0d47a1 !important;

  box-shadow: 0 0 0 0.2rem rgba(13, 71, 161, 0.25) !important;
}

.form-check-label {
  font-size: 16px !important;
  color: var(--primary) !important;
  cursor: pointer !important;
}

@media(max-width: 576px) {
  #configuracoes .configAtendimento .formHorario .container {
    display: flex !important;
    flex-direction: row !important;
    padding: 12px 0 !important;
    margin-right: 24px !important;
    gap: 8px !important;
  }

  #configuracoes .configAtendimento .formHorario input {
    padding: 12px !important;
    width: 80px !important;
  }

  #configuracoes .formHorario label {
    font-size: 16px !important;
  }
}