#labelBuscar {
    color: var(--txt-light);
    font-weight: bold;
    margin-bottom: 8px;
}

#headerLogo {
    margin: 0px;
    gap: 20px;
    background-color: var(--bg-header);
    margin: 0;
    padding: 30px 40px !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#headerLogo img {
    flex-shrink: 0;
}

aside {
    transition: all 0.3s ease;
    position: sticky;
    top: var(--header-height, 120px);
    z-index: 10;
}

main{
    height: 100%;
}

main > section{
    display: none;
    overflow: auto;
}

main>section:target{
    display: block;
}

aside{
    width: 100%;
    padding: 20px;
}

.nav-link{
    width: 100%;
    padding: 10px;
    color: var(--txt-light);
}

.nav-pills .nav-link.active{
    background-color: var(--secondary);
    color: var(--txt-dark);
}

.nav-pills .nav-link:not(.active):hover{
    color: var(--secondary);
}

@media (min-width: 768px) {
    aside{
        width: 250px;
        padding: 20px;
    }
}

/* Aba de pacientes*/
#pacientes{
    margin: 0 auto;
    width: 100%;
    background-color: var(--bg-light);
}

#pacientes .card{
    background-color: var(--bg-light);
}

#pacientes .card-body{
    background-color: var(--bg-light);
}

#pacientes .table-responsive{
    background-color: var(--bg-light);
}

#pacientes .table-responsive .table thead{
    background-color: var(--bg-light);
}

#pacientes .table-responsive .table thead tr{
    background-color: var(--bg-light);
}

#pacientes .table-responsive .table thead tr th{
    background-color: var(--bg-light);
    color: var(--txt-light);
}

#pacientes .table-responsive .table tbody tr{
    background-color: var(--bg-light);
    cursor: pointer;
}

#pacientes .table-responsive .table tbody tr:hover {
    background-color: var(--tertiary);
}

#pacientes .table-responsive .table tbody tr td{
    background-color: var(--bg-light);
    color: var(--txt-light);
}

@media (max-width: 576px) {
    header{
        position: absolute;
        z-index: 1000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        border-radius: 0 0 12px 12px;
    }
}