/* FOOTER - BASE */
footer {
  background-color: var(--bg-header);
  color: var(--txt-light);
  width: 100%;
  padding: 20px 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FOOTER - CONTENT */
.footerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

/* FOOTER - LOGO SECTION */
.footerLogoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.footerLogo {
  width: 100%;
  max-width: 250px;
}

/* FOOTER - ADDRESS */
.footerAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FOOTER - LINKS */
footer a {
  color: var(--txt-light);
  text-decoration: none;
}

footer a:hover {
  color: var(--tertiary);
  transition: all 0.2s ease;
}

/* FOOTER - SOCIAL */
#socialSection {
  margin-top: 32px;
  display: flex;
}

.social-icons {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

#socialSection a {
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--links-relevant);
  border: 2px solid var(--links-relevant);
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialSection a:hover {
  color: var(--baby-blue);
  border: 2px solid var(--baby-blue);
  transition: all 0.2s ease;
}

#socialSection i {
  font-size: 15px;
}


/* FOOTER - COPYRIGHT */
.footerCopyright {
  width: 100%;
  text-align: center;
  margin: 0;
}

/* RESPONSIVE - TABLET AND UP */
@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .footerLogoSection {
    margin-bottom: 0;
  }

  .footerNossaClinica,
  .footerAtendimentos,
  .footerOutrosAcessos {
    display: block;
  }

  #socialSection {
    flex: 1 1 0;
    margin-top: 0;
  }

}

/* RESPONSIVE - DESKTOP */
@media (min-width: 992px) {


  #socialSection {
    flex: 1 1 0;
    max-width: 280px;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 12px 16px;
  }

  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-bottom: 16px;
  }
  .footerBtn {
    padding: 0;
    margin-top: 16px;
  }

  .footerLogoSection {
    margin-bottom: 16px;
  }

  .footerLogoSection h2 {
    margin-bottom: 0;
  }

  .footerNossaClinica,
  .footerOutrosAcessos {
    display: none;
  }

  #socialSection {
    margin-top: 16px;
  }

  .footerLogo {
    max-width: 200px;
  }
}
