/* FOOTER - BASE */
footer {
  background-color: var(--bg-dark);
  color: var(--tertiary);
}

/* FOOTER - LINKS */
footer a {
  color: var(--txt-dark);
  text-decoration: none;
}

footer a:hover {
  color: var(--tertiary);
  transition: all 0.2s ease;
}

/* FOOTER - LOGO */
footer img{
    min-width: 350px;
}

/* FOOTER - SOCIAL */
footer #socialSection a {
  background-color: var(--secondary);
  padding: 1px;
  border-radius: 4px;
}



footer #socialSection i {
  font-size: 22px;
}

footer button {
  height: 50px;
}

#divider {
  border-bottom: 1px solid var(--tertiary);
}

@media (min-width: 992px) {
  footer img{
      max-width: 250px;
  }
  footer #socialSection {
    max-width: 250px;
  }
}
