main {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

@media (max-width: 576px) {
  main {
    gap: 48px;
  }
}

.containerTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.containerTxt h1 {
  color: var(--txt-light);
  margin: 0;
}

.containerTxt h3 {
  color: var(--txt-light);
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.containerTxt span {
  font-weight: 600;
}


/* HOMEPAGE - HERO SECTION */
#heroSection {
  margin-top: 110px;
  text-align: center;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 64px 128px;
  gap: 64px;
  text-align: left;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  max-width: 642px;

}

.heroText #frase1Hero {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.heroText #frase2Hero {
  font-size: 20px;
  font-weight: 500;
}

.heroText a {
  width: fit-content;
}

#heroSection img {
  height: auto;
  width: 100%;
  max-width: 638px;

  object-fit: cover;
  object-position: 75% center;
}

.gap64 {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

#button2 {
  width: 100%;
}

@media (max-width: 1200px) {
  #heroSection {
    padding: 32px 64px;
    gap: 32px;
  }

  .heroText {
    min-width: 10rem;

  }

  .heroText #frase1Hero {
    font-size: 36px;
  }

  .heroText #frase2Hero {
    font-size: 16px;
    width: 80%;
  }
}

@media (max-width: 992px) {
  #heroSection {
    margin-top: 100px;
    padding: 32px 54px;
    gap: 0px;
  }

  #heroSection img {
    height: auto;
    max-height: 18rem;
    width: 100%;
    margin: 0 auto;
  }

  .heroText #frase1Hero {
    font-size: 26px;
  }

  .heroText #frase2Hero {
    font-size: 16px;
    width: 80%;
  }
}

@media (max-width: 576px) {
  #heroSection {
    margin-top: 80px;
    padding: 32px;
  }

  #heroSection img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }

  .heroText #frase1Hero {
    font-size: 24px;
  }

  .heroText #frase2Hero {
    display: none;
  }
}

/* HOMEPAGE - COMO PODEMOS AJUDAR SECTION */

#helpSection {
  width: 100%;
  padding: 0 32px;
}

.buttonMore {
  padding: 12px 24px;
}

#container-help-carousel {
  position: relative;
}

#carousel-scroll-container {
  display: flex;
  gap: 1rem; 
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#carousel-scroll-container::-webkit-scrollbar {
  display: none;
}

.helpCard {
  height: fit-content;
  min-height: 270px;
  max-width: 270px;
  border: 2px solid var(--secondary);
  border-radius: 12px;
  color: var(--txt-light);
}

.helpCard h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.helpCard .iconHelp {
  background-color: #1b263b;
  width: fit-content;
  border-radius: 8px;
}

.iconHelp {
  height: 40px;
  width: 40px;
}

#helpSection button {
  width: fit-content;
}

#helpSection a {
  width: fit-content;
}

#slideLeft, 

#container-help-carousel #slideLeft {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#container-help-carousel #slideRight {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  .helpCard {
    height: 190px;
  }

  .iconHelp img {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 992px) {
  .helpCard {
    flex: 0 0 calc(50% - 8px); 
    max-width: calc(50% - 8px);
  }
}



/* HOMEPAGE - ESPECIALIDADES SECTION */

#especialidades .containerEspecialidades {
  width: 80%;
  margin: auto;
}

#especialidades .btn-outline {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  font-size: larger;
}

#especialidades .btn-primary {
  font-size: 36px;
}

#especialidades img {
  width: 54px;
}

@media (max-width: 576px) {
  #especialidades .containerEspecialidades {
    width: 100%;
    padding: 0 16px;
  }

  #especialidades .btn-outline {
    font-size: medium;
  }

  #especialidades .btn-primary {
    font-size: 24px;
  }

  #especialidades .gap64 {
    gap: 32px;
  }

  #especialidades p {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  #especialidades .containerEspecialidades {
    gap: 24px;
  }

}

/* HOMEPAGE - CTA SECTION */

#ctaSection {
  background-color: var(--secondary);
  text-align: center;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.containerCtaTxt {
  display: flex;
  flex-direction: column;
  gap: 24px;
    color: var(--txt-dark);
}

.containerCtaTxt span {
  font-weight: 600;
  color:  var(--txt-dark);
}

.containerCtaBtn {
  display: flex;
  gap: 24px;
}





@media (max-width: 576px) {
  #ctaSection .containerCtaTxt h1 {
    margin: 24px 32px;
  }

  #ctaSection {
    padding: 32px 24px;
    gap: 24px;
  }

  #ctaSection .mainTitle {
    width: 75%;
    margin: auto;
  }

}

/* Avaliações Section */
#avaliacoes .font36 {
  margin-bottom: 64px;
}

#avaliacoes .col-lg-4 {
  margin-right: 8px;
  margin-left: 8px;
}

#avaliacoes article {
  background-color: var(--bg-header);
  color: var(--txt-light);
}

.starBadge {
  color: rgb(255, 230, 0);
}

.badgeRating {
  background-color: var(--primary);
  color: var(--txt-dark);
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin: 0 auto;
}

.padding24 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avatar {
  background-color: var(--secondary);
  color: var(--txt-light);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  margin-right: 12px;
}

.nameCard {
  font-size: 20px;
  margin: 0;
}

.depoimento {
  line-height: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.feedback {
  font-size: 14px;
  font-weight: semi-bold;
}

#avaliacoes a {
  color: #32B119;
}

@media (min-width: 992px) {
  .assigned {
    margin: auto;
    width: 30.5%;
  }
}

@media (max-width: 576px) {
  #avaliacoes .font36 {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .assigned {
    width: 80%;
    margin: auto;
  }

  .badgeRating p {
    display: none;
  }

  #avaliacoes .font36 {
    font-size: 24px;
    width: 70%;
    margin: auto;
    margin-bottom: 32px;
  }
}


#ctaSection .containerTxt {
  gap: 24px;
}

#ctaSection .containerTxt h2 {
  max-width: 700px;
  line-height: 30px;
}

#ctaSection .containerCtaBtn {
  display: flex;
  gap: 24px;
}

#ctaSection .containerCtaBtn .btn-primary {
  background-color: var(--primary);
  color: var(--txt-dark);
  transition: background-color 0.3s ease;
  font-weight: 500;
}

#ctaSection .containerCtaBtn .btn-primary:hover {
  background-color: var(--bg-dark);
  color: var(--txt-dark);
  transition: background-color 0.3s ease;
  font-weight: 600;
}

#ctaSection .containerCtaBtn .btn-outline {
  color: var(--txt-dark);
  border: 2px solid var(--tertiary);
  font-weight: 500;

}

#ctaSection .containerCtaBtn .btn-outline:hover {
  background-color: var(--bg-dark);
    color: var(--txt-dark);
    transition: background-color 0.3s ease;
    font-weight: 600;
}

/* HOMEPAGE - UNIDADES */

#unidades .container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

#unidades .slider-track {
  gap: 24px;
}

#unidades .slider-item {
  flex: 0 0 100%;
  max-width: 100%;
}

#unidades .slider-window {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#unidades .slider-window::-webkit-scrollbar {
  display: none;
}

#unidades .slider-window .slider-item .card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  background-color: var(--tertiary);
  border: none;
  height: 100%;
  width: auto;
  border-radius: 12px;
}


#unidades .slider-item .card .cardImgUnidade {
  max-height: 212px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#unidades .slider-item .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 24px 12px 24px;
  padding: 0;
}

#unidades .slider-item .card .card-body .card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#unidades .slider-item .card .card-body .card-txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
}

#unidades .slider-item .card .card-body h3 {
  color: var(--txt-light);
  font-size: 24px;
  margin: 0;
}

#unidades .slider-item .card .card-body p {
  color: var(--txt-light);
  margin: 0;
}

#unidades .slider-item .card .card-body address {
  margin: 0;
  padding: 0;
}


#unidades .slider-item .card .card-body address a {
  color: var(--txt-light);
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}


#unidades .slider-item .card .card-body iframe {
  width: auto;
  height: 100%;
  border: 0;
  border-radius: 8px;
}


#unidades .slider-item .card .card-body .btn-primary {
  text-decoration: none;
  text-align: center;
}


@media (min-width: 992px) {

  #unidades .slider-item {
    flex: 0 0 calc((100% - 72px) / 2);
    max-width: calc((100% - 72px) / 2);
  }

  #unidades .slider-item .card .card-body {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  #unidades .slider-item .card .card-body iframe {
    width: 212px;
    height: 220px;
  }

}

#unidades .carousel-control,
#slideRight,
#slideLeft {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: none;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--bg-dark);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  font-weight: bold;
  color: var(--txt-light)
}

#unidades .carousel-control:hover,
#slideRight:hover,
#slideLeft:hover {
  background-color: var(--bg-dark);
  color: var(--txt-dark);

  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#unidades .prev {
  left: -20px;
}

#unidades .next {
  right: -20px;
}

@media (max-width: 991px) {
  #unidades .slider-track {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-dark) transparent;
  }

  #unidades .carousel-control {
    display: none;
  }

}

@media (max-width: 576px) {
  #unidades .container {
    width: 100%;
    padding: 0 32px;
  }

  #unidades .slider-item .card .card-body iframe {
    display: none;
  }

  #unidades .slider-item .card .card-body address a {
    font-size: 14px;

  }
}



/* HOMEPAGE - FALE CONOSCO */
#contactText img {
  object-fit: cover;
}

#formContact {
  background-color: var(--bg-dark);
  border-radius: 12px;
  border-top-left-radius: 100px;
}

#formContact h2 {
  color: var(--tertiary);
}

#formContactForm > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#formContact label {
  color: var(--tertiary);
}

#formContact input::placeholder,
#formContact textarea::placeholder {
  color: var(--secondary);
}

#formContact input,
#formContact textarea {
  color: var(--txt-dark)!important;
  background-color: transparent; 
}


#formContact button {
  padding: 12px 24px;
}

@media (max-width: 992px) {
  #contactSection {
    margin: 16px 0px;
    padding: 0px;
  }

  #formContact {
    border-radius: 0;
  }
}

/* FAQ Section */

#faqSection {
  margin-bottom: 40px;
}

  #faqSection > h2 {
    border-bottom: 1px solid var(--txt-light);
    text-align: center;
    padding: 20px;
  }

  #faqSection .faqItem {
    border-bottom: 1px solid var(--txt-light);
    padding: 16px 0;
    transition: all 0.3s ease;
  }

.faqItem summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 20px;
}

.faqItem summary::-webkit-details-marker {
  display: none;
}

.faqItem[open] summary::marker {
  transform: rotate(180deg);
}

#modalSuccessMessage h2 {
  font-weight: bold;
  font-size: 24px;
}
  .faqItem summary::after {
    content: url("../assets/media/icons/arrow_down.svg");
    margin-left: 10px;
    max-height: 24px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
  }

.faqItem summary::after {
  content: url("../assets/media/icons/arrow_down.svg");
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.faqItem[open] summary::after {
  transform: rotate(180deg);
}

.faqItem p {
  margin: 10px 40px;
}