* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --txt-light: #0d1b2a;
  --txt-dark: #f9f9f5;
  --txt-muted: #6e6e6e;
  --bg-light: #f9f9f5;
  --bg-dark: #0d1b2a;
  --primary: #1b263b;
  --secondary: #415a77;
  --tertiary: #778da9;
  --baby-blue: #6e9fd8;
}

.bg-light {
  background-color: var(--bg-light);
  color: var(--txt-light);
}

.bg-dark {
  background-color: var(--bg-dark);
  color: var(--txt-dark);
}

.bg-tertiary {
  background-color: var(--tertiary);
  color: var(--txt-light);
}

.txt-light {
  color: var(--txt-light);
}

.txt-dark {
  color: var(--txt-dark);
}

.txt-muted {
  color: var(--txt-muted);
}

.btn-primary {
  background-color: var(--secondary);
  color: var(--txt-dark);
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary.disable {
  background-color: var(--txt-muted);
  color: var(--bg-light);
  pointer-events: none;
}

.btn-primary:hover {
  background-color: var(--txt-light);
  color: var(--);
}

.btn-outline {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: 8px 22px;
  border-radius: 12px;
  cursor: pointer;
  transition:
    all 0.3s ease,
    color 0.3s ease;
}

.btn-outline.disable {
  color: var(--txt-muted);
  border: 2px solid var(--txt-muted);
  pointer-events: none;
}

.btn-outline:hover {
  background-color: var(--txt-light);
  color: var(--txt-dark);
  border: 2px solid var(--txt-dark);
}

p {
  font-size: 12px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: semi-bold;
}

h3 {
  font-size: 16px;
  font-weight: semi-bold;
}

.mainTitle{
    font-size: 44px;
    font-weight: bold;
}

.subTitle{
    font-size: 20px;
    font-weight: 600;
}

.textCenter{
    text-align: center;
}

.font36{
    font-size: 36px;
    font-weight: bold;
}

.mb64{
    margin-bottom: 64px;
}

input, textarea{
    padding: 10px;
    border-radius: 12px;
    border: 2px solid var(--bg-light);
    outline: none;
    background-color: transparent;
    
}

@media (max-width: 576px) {
    h1{
        font-size: 24px;
        font-weight: bold;
    }

    h2{
        font-size: 16px;
        font-weight: semi-bold;
    }

    h3{
        font-size: 14px;
        font-weight: semi-bold;
    }

    p{
        font-size: 12px;
    }
    
        .btn-primary {
            padding: 5px 12px;
        }
    
        .btn-outline {
            padding: 5px 12px;   
        }

        .mainTitle {
            font-size: 24px;
            font-weight: bold;
        }
    
        .subTitle {
            font-size: 16px;
            font-weight: semi-bold;
        }
    
}

