@import url(/css/styles.css);
@import url(/css/homepage.css);

/* TRABALHE-CONOSCO - HERO */

#heroSection .herotext {
    gap: 12px;
}

#heroSection h3 {
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 992px) {

    #heroSection h2 {
        font-size: 48px;
    }

    #heroSection p {
        font-size: 14px;
    }
}

@media (max-width:576px) {

    #heroSection h3 {
        font-size: 16px;
    }

}

#trabalheSection{
    padding-top: 180px;
}
    #trabalheText img{
      object-fit: cover;
    }

    #formTrabalheConosco{
      background-color: var(--bg-dark);
      border-radius: 12px;
      border-top-left-radius: 100px;
    }

    #formTrabalheConosco h2{
      color: var(--tertiary);
    }

    #formTrabalheConosco label{
      color: var(--tertiary);
    }
    #formTrabalheConosco input, textarea{
      color: var(--txt-dark);
      border-color: var(--tertiary);
    }

    #formTrabalheConosco button{
      padding: 12px 24px;
    }

    @media (max-width: 992px){
      #contactSection{
        margin: 16px 0px;
        padding: 100px;
      }

      #formTrabalheConosco{
        border-radius: 0;
      }
    }
