main>#bannerEspecialidade {
    width: 100%;
    object-fit: cover;
    padding-top: 86px;
}

main>section {
    max-width: 1200px;
}

.pt-5 {
    background-color: var(--bg-header);
}

.procedimentoCard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.procedimentoCard {
    background-color: var(--bg-header);
}

.procedimentoCard h3 {
    background-color: var(--tertiary);
}

#containerMedicos {
    max-width: 1440px;
    margin: 0 20px;
}

.card-text {
    color: #0d1b2a !important;
}

.cardMedico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid var(--tertiary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: var(--bg-header);
}

.cardMedico img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #bannerEspecialidade {
        padding-top: 65px;
    }

    .sobreEspecialidade img {
        
        height: 400px;
        object-fit: cover;
        width: 100%;

    }
}

@media (max-width: 576px) {

    .sobreEspecialidade img {
        height: 300px;
        object-fit: cover;
        width: 100%;
    }
}