/* --- ESPECIALIDADES - HOME --- */
#especialidades {
  margin: 162px 32px 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#especialidades .containerTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#especialidades .containerTxt h3 {
  color: var(--txt-light);
}

.grid-especialidades {
  margin: 0;
  gap: 24px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#especialidades .col{
  max-width: 500px;
  height: 100%;
}

#especialidades .card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 100%;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  background-color: transparent;
  overflow: hidden;
  

}

#especialidades .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(7, 59, 122, 0.253);
  cursor: pointer;
  
}

#especialidades .card .card-title {
  text-align: center;
  background-color: var(--secondary);
  color: var(--txt-dark);
  border-radius: 8px 8px 0 0;
  margin: 0;
  padding: 8px 0;
}

#especialidades .card .card-text {
  background-color: #f9f9f5;
  color: var(--txt-dark);
  padding: 12px;
}


#especialidades .card img {
  width: 100%;
  height: 268px;
  object-fit: cover;
  border-radius: 0;
}


@media (min-width: 992px) {
  #especialidades {
    margin: 259px 0 128px 0;
    gap: 64px;
  }

  #especialidades .grid-especialidades h2 {
    font-size: 24px;
  }


}