#criar-agendamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#criar-agendamento .mainTitle {
    margin: 96px 0 48px;
}


.formAgendamento {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 600px;
}

.formAgendamento fieldset {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formAgendamento .formContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.formAgendamento .containerHorario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.formAgendamento .containerHorario .containerData,
.formAgendamento .containerHorario .containerHora,
.formAgendamento .containerHorario .containerValor,
.formAgendamento .containerHorario .containerStatus {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

@media (max-width: 576px) {
    #criar-agendamento .mainTitle {
        margin: 48px 0 24px;
    }

    .formAgendamento .containerHorario {
        display: flex;
        flex-direction: column;
    }
}