
#loginDesktop {
    width: 100%;
    height: 100vh;
    display: flex;
}



.coverContainer {
    width: 57%;
    height: 100vh;
    flex-shrink: 0;
    position: sticky;
    top: 0;
}

.coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-position: 100% 10%;
}

#formulario {
    width: 60vw;
    max-width: 600px;
    margin: auto;
}

#formulario h1 {
    width: 100%;
    color: var(--txt-white);
}

#esqueceuSenha {
    width:100%;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--baby-blue);
    cursor: pointer;
}

#cadastrar {
    width:100%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: var(--secondary);
}

p{
    font-size: 20px;
    color: var(--txt-white);
}

a {
    text-decoration: none;
}

#logo {
    width: 350px;
    height: auto;
}

#recuperarSenhaSection {
    width: 100%;
    height: 100vh;
    display: none;
}

#recuperarSenha {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    max-width: 600px;
    max-height: fit-content;
    margin: auto;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 54px 78px ;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

#toggleForm:checked ~ #recuperarSenha {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

#voltarLogin {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: var(--txt-light);
    cursor: pointer;
    border: 2px solid var(--txt-light);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#voltarLogin:hover {
    background-color: var(--txt-light);
    color: var(--bg-light);
    transition: 0.3s;
}

#goBack{
    color: var(--bg-header);
    font-size: 20px;
    z-index: 1000;
    text-decoration: none;
}

#goBack:hover{
    color: var(--txt-dark)!important;
    background-color: var(--secondary);
    border-radius: 8px;
    padding: 4px 8px;
    transition: 0.3s;
}

#botaoEnviar {
    width: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}



@media (max-width: 768px) {
    #recuperarSenha {
        text-align: left;
        padding: 0 32px;
    }

    #loginDesktop a {
    color: var(--txt-light);
}

}

@media (max-width: 992px) {
    .coverContainer {
        display: none;
    }
}

body.dark-mode #esqueceuSenha {
    color: var(--tertiary);
}

body.dark-mode #esqueceuSenha:hover {
    color: var(--baby-blue);
}

body.dark-mode #cadastrar {
    color: var(--tertiary);
}

body.dark-mode #cadastrar:hover {
    color: var(--baby-blue);
}